
.filters {
  list-style: none;
  display: flex;
  flex-flow: row wrap;

  li {
     width: 12%;
     text-align: center;
  }
}


.technologies {
  list-style: none;
  display: flex;
  flex-flow: row wrap;

  li {
     background: rgba(230, 230, 230,1 );
     padding: 1em;
     width: 31.75%;
     margin: 0.25em;
     text-align: center;

     img {
        display: block;
        width: 25%;
        margin: auto;
     }
  }
}

.bounceIn {
   opacity: 0;
   animation-name: bounceIn;
   animation-duration: 450ms;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
 }
 
 @keyframes bounceIn {
   0% {
     opacity: 0;
     transform: scale(0.3) translate3d(0, 0, 0);
   }
   50% {
     opacity: 0.9;
     transform: scale(1.1);
   }
   80% {
     opacity: 1;
     transform: scale(0.89);
   }
   100% {
     opacity: 1;
     transform: scale(1) translate3d(0, 0, 0);
   }
 }