<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Select One"  class="filters" (ionChange)="onFilter($event)">
    <ion-select-option value="all">All</ion-select-option>
    <ion-select-option value="browser">Browser</ion-select-option>
    <ion-select-option value="language">Language</ion-select-option>
    <ion-select-option value="library">Library</ion-select-option>
    <ion-select-option value="database">Database</ion-select-option>
    <ion-select-option value="operating-system">Operating System</ion-select-option>
    <ion-select-option value="platform">Platform</ion-select-option>
  </ion-select>

  <ul class="technologies">
    <li class="bounceIn" *ngFor="let technology of technologies">
      <!-- <img style="min-height:150px;" src="{{ technology.image }}"> -->
      <h2>{{ technology.name }}</h2>
      <div [innerHTML]="technology.description"></div>
    </li>
  </ul>
</ion-content>
