
.filters {
  list-style: none;
  display: flex;
  flex-flow: row wrap;

  li {
     width: 12%;
     text-align: center;
  }
}


.technologies {
  list-style: none;
  display: flex;
  flex-flow: row wrap;

  li {
     background: rgba(230, 230, 230,1 );
     padding: 1em;
     width: 31.75%;
     margin: 0.25em;
     text-align: center;

     img {
        display: block;
        width: 25%;
        margin: auto;
     }
  }
}